<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
  <div class="my-auto" >
      <img src="../../../assets/img/logo-s.png" class="img-fluid mb-3 gone" alt="">
      <h1 class="mb-0">L. Theodore
        <span style="color: #673ab7">Obonye</span>
      </h1>
      <div class="subheading mb-5">Former IP Engineer with a love for SOFTWARE ENGINEERING
      </div>
      <p class="mb-5 paragraph" style="max-width: 500px;">Theodore lives in Cape Town, South Africa where he works as a Full stack Developer at Lesogile (PTY) LTD. He has 2 years of experience in application development, and is currently focused on Springboot 2 and Angular 7, developing a microfinance lending single-page application called eThebe. In his spare time, Theodore enjoys reading books on financial literacy and hanging out with friends and family.</p>
      <ul class="list-inline list-social-icons mb-0">
          <li class="list-inline-item">
              <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
          </li>
          <li class="list-inline-item">
              <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
          </li>
          <li class="list-inline-item">
              <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
          </li>
          <li class="list-inline-item">
              <a href="https://github.com/LTO01">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
          </li>
      </ul>
  </div>
</section>
