body {
  background-color: #0e1821;
  color: #dbd7d4;
}
.sidebar {
  background-color: #131317;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  height: 100vh;
  width: 60px;
}
.sidebar .nav-toggle {
  display: none;
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
  .sidebar {
    flex-direction: row;
    height: 60px;
    width: 100%;
    position: absolute;
  }
  .sidebar .nav-toggle {
    display: none;
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  .sidebar {
    flex-direction: row;
    height: 60px;
    width: 100%;
  }
  .sidebar .nav-toggle {
    display: block;
  }
  .sidebar ul {
    display: none;
  }
}
